<div class="brands-list">
  <h2>Lista de Marcas</h2>

  <!-- Botão para abrir o modal -->
  <button #openButton mat-raised-button color="primary" (click)="openBrandModal()">
    Adicionar Nova Marca
  </button>

  <!-- Tabela de marcas -->
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let brand of brands">
        <td data-label="ID">{{ brand?.id }}</td>
        <td data-label="Nome">{{ brand?.name }}</td>
        <td data-label="Ações">
          <button mat-button class="mat-primary" (click)="openBrandModal(brand)">Editar</button>
          <button mat-button class="red-button" (click)="deleteBrand(brand)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
