mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centraliza os itens verticalmente */

  .title {
    color: black; /* Cor do título */
    font-size: 1.5rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    margin-right: 16px; /* Espaço entre o título e os links */
  }

  .nav-links {
    display: flex;
    gap: 16px; /* Espaço entre os links */
    position: absolute; /* Posicionamento absoluto para centralização */
    left: 50%; /* Move o container para o meio */
    transform: translateX(-50%); /* Ajusta a centralização */
  }

  .spacer {
    flex: 1 1 auto; /* Ocupa o espaço restante */
  }

  a {
    text-decoration: none;
    color: black;

    &.active {
      font-weight: bold;
      border-bottom: 2px solid white;
    }
  }
}
