<mat-toolbar color="primary">
  <!-- Título à esquerda -->
  <span class="title">LOCADORA TEST
  </span>

  <!-- Links de navegação centralizados -->
  <nav class="nav-links">
    <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a mat-button routerLink="/brands" routerLinkActive="active">Brands</a>
    <a mat-button routerLink="/categories" routerLinkActive="active">Category</a>
    <a mat-button routerLink="/vehicles" routerLinkActive="active">Vehicles</a>
  </nav>

  <!-- Espaço flexível para alinhar os itens à direita -->
  <span class="spacer"></span>

  <!--  menu dropdown (opcional) -->
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon> Perfil
  </button>
  <mat-menu #menu="matMenu">
    <button mat-button (click)="logout()">Sair</button>
  </mat-menu>
</mat-toolbar>
